[submodule ".config/nvim"]
	path = .config/nvim
	url = https://gitlab.com/LutzGebelman/nvim-conf
	branch = master
[submodule ".config/hypr"]
	path = .config/hypr
	url = https://gitlab.com/LutzGebelman/hypr-conf
[submodule ".mozilla/firefox"]
	path = .mozilla/firefox
	url = https://gitlab.com/LutzGebelman/firefox-conf
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".doom.d"]
	path = .doom.d
	url = https://gitlab.com/LutzGebelman/doomemacs-conf
