[submodule ".config/hypr"]
	path = .config/hypr
	url = /home/cockroach/git/nvim-conf/hypr-conf
[submodule ".config/kitty"]
	path = .config/kitty
	url = /home/cockroach/git/nvim-conf/kitty-conf
[submodule ".mozilla/firefox"]
	path = .mozilla/firefox
	url = /home/cockroach/git/nvim-conf/firefox-conf
[submodule "nvim-conf"]
	path = nvim-conf
	url = /home/cockroach/git/nvim-conf
[submodule ".config/nvim"]
	path = .config/nvim
	url = /home/cockroach/git/nvim-conf
