[submodule ".config/nvim"]
	path = .config/nvim
	url = /home/cockroach/git/nvim-conf
[submodule ".config/kitty"]
	path = .config/kitty
	url = /home/cockroach/git/kitty-conf
[submodule ".config/hypr"]
	path = .config/hypr
	url = /home/cockroach/git/hypr-conf
[submodule ".mozilla/firefox"]
	path = .mozilla/firefox
	url = /home/cockroach/git/firefox-conf
